*, *:after, *:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

*:after, *:before {
  --tw-content: "";
}

:host, html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variation-settings: normal;
  line-height: 1.5;
  tab-size: 4;
}

body {
  line-height: inherit;
  margin: 0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-family:ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}



.z-pwa-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.z-pwa-dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.z-pwa-dialog-content.open {
  transform: translateY(0);
}

/* Dialog Header */
.z-pwa-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.z-pwa-dialog-header h3 {
  margin: 0;
  font-size: 1.25rem;
}



.z-pwa-dialog-button{
  background: none;
  border: none;
  cursor: pointer;
  border-radius:0.3rem;
  padding: 0.625rem 1.25rem;
}

.z-pwa-icon-button{
  background: none;
  border: none;
  cursor: pointer;
  font-size:1rem;
  border-radius:0.3rem;
  height:2rem;
  width:2rem;
}

.z-pwa-dialog-button-info{
  color: #0f172a;
  background-color: #e5e7eb;
}


.z-pwa-dialog-button-outline{
  color: #9ca3af;
  border:1px solid #9ca3af;
}

.z-pwa-dialog-button-primary{
  background-color: #0f172a;
  color:#f3f4f6;
}

.z-pwa-dialog-button-primary:hover{
  background-color: #1e293b;
  color:#f3f4f6;
}

/* Dialog Body */
.z-pwa-dialog-body {
  padding:0.25rem 0px;
  margin-bottom: 20px;
}


.z-pwa-install-instructions ul{
  list-style-type: none;
  padding: 0;
}

.z-pwa-install-instructions ul li {
  margin: 5px 0;
}

/* Dialog Footer */
.z-pwa-dialog-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}


.secondary-btn {
  background-color: #f0f0f0;
  color: #333;
}

.primary-btn {
  background-color: #007bff;
  color: white;
}

.z-pwa-dialog-trigger {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.z-pwa-dialog-trigger:hover,
.secondary-btn:hover,
.primary-btn:hover {
  opacity: 0.8;
}


